<div class="footer">
  <div class="container-fluid">
    <ul class="list-inline list-unstyled text-center">
      <li><a href="#" target="_blank">Help</a></li>
      <li><a href="mailto:support@joindropin.com" target="_blank">Support</a></li>
      <li><a href="http://joindropin.com/terms.html" target="_blank">Terms &amp; Conditions</a></li>
      <li><a href="http://joindropin.com/privacy.html" target="_blank">Privacy Policy</a></li>
    </ul>
    <p class="text-center"><small>201 Ventures LLC. Copyright &copy; {{vm.copyrightYear | date: 'yyyy' : -0500}}. All rights reserved.</small></p>
  </div>
</div>