<div class="subnav-bg">
  <div class="analytic-links">
    <div class="container-fluid">
      <a ui-sref="analytics-user" ng-class="{ active: vm.isActive('/analytics/user') }">
        <div class="col-sm-1 text-center text-uppercase">
          <i class="fa fa-user fa-2x"></i>
          <div class="margin-top-5">Users</div>
        </div>
      </a>
      <a ui-sref="analytics-traffic" ng-class="{ active: vm.isActive('/analytics/traffic') }">
        <div class="col-sm-1 text-center text-uppercase">
          <i class="fa fa-taxi fa-2x"></i>
          <div class="margin-top-5">Traffic</div>
        </div>
      </a>
      <a ui-sref="analytics-reward" ng-class="{ active: vm.isActive('/analytics/reward') }">
        <div class="col-sm-1 text-center text-uppercase">
          <i class="fa fa-tag fa-2x"></i>
          <div class="margin-top-5">Rewards</div>
        </div>
      </a>
      <a ui-sref="analytics-event" ng-class="{ active: vm.isActive('/analytics/event') }">
        <div class="col-sm-1 text-center text-uppercase">
          <i class="fa fa-calendar fa-2x"></i>
          <div class="margin-top-5">Events</div>
        </div>
      </a>
    </div>
  </div>
</div>