<div class="subnav-bg">
  <div class="analytic-links">
    <div class="container-fluid subnav">
      <a ui-sref="analytics-dropin" ng-class="{ 'subnav-active': vm.isActive('/analytics/dropin') }">
        <div class="col-xs-3 col-sm-2 col-md-1 subnav-menu-link text-center text-uppercase">
          <i class="fa fa-mobile-phone fa-2x"></i>
          <div class="margin-top-5">Drop In</div>
        </div>
      </a>
      <a ui-sref="analytics-user" ng-class="{ 'subnav-active': vm.isActive('/analytics/user') }">
        <div class="col-xs-3 col-sm-2 col-md-1 subnav-menu-link text-center text-uppercase">
          <i class="fa fa-user fa-2x"></i>
          <div class="margin-top-5">Users</div>
        </div>
      </a>
      <a ui-sref="analytics-traffic" ng-class="{ 'subnav-active': vm.isActive('/analytics/traffic') }">
        <div class="col-xs-3 col-sm-2 col-md-1 subnav-menu-link text-center text-uppercase">
          <i class="fa fa-taxi fa-2x"></i>
          <div class="margin-top-5">Traffic</div>
        </div>
      </a>
      <a ui-sref="analytics-reward" ng-class="{ 'subnav-active': vm.isActive('/analytics/reward') }">
        <div class="col-xs-3 col-sm-2 col-md-1 subnav-menu-link text-center text-uppercase">
          <i class="fa fa-tag fa-2x"></i>
          <div class="margin-top-5">Rewards</div>
        </div>
      </a>
      <a ui-sref="analytics-event" ng-class="{ 'subnav-active': vm.isActive('/analytics/event') }">
        <div class="col-xs-3 col-sm-2 col-md-1 subnav-menu-link text-center text-uppercase">
          <i class="fa fa-calendar fa-2x"></i>
          <div class="margin-top-5">Events</div>
        </div>
      </a>
    </div>
  </div>
</div>