<!-- Event Graph and Data -->
<div ng-show="!vm.selectEvent">
  <div class="row">
    <div class="col-xs-8 col-sm-10">
      <h4>How effective are my events?</h4>
    </div>
    <div class="col-xs-4 col-sm-2 padding-left-xs-0 text-right">
      <a href="" class="more-info-link" ng-click="vm.selectEvent = true">Change Event</a>
    </div>
  </div>
  <hr class="thin-top">

  <!-- More Info Modal -->
  <div class="modal fade bs-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="vertical-alignment-helper">
      <div class="modal-dialog modal-sm vertical-align-center">
        <div class="modal-content">
          <div class="modal-body">
            <h4 class="margin-top-10 margin-bottom-20">{{vm.eventData.name | titlecase}}</h4>
            <h5 class="text-muted">Description</h5>
            <hr class="thin">
            <div class="row margin-bottom-15">
              <div class="col-md-9">
                <p>{{vm.eventData.description}}</p>
              </div>
            </div>
            <h5 class="text-muted">Dates</h5>
            <hr class="thin">
            <div class="row margin-bottom-15">
              <div class="col-md-5">
                <p class="margin-bottom-0"><strong>Start</strong></p>
                <p>{{vm.eventData.eventStart.iso | date: 'EEE, MMM d, hh:mm a'}}</p>
              </div>
              <div class="col-md-5">
                <p class="margin-bottom-0"><strong>End</strong></p>
                <p>{{vm.eventData.eventEnd.iso | date: 'EEE, MMM d, hh:mm a'}}</p>
              </div>
            </div>
            <h5 class="text-muted">Sent To</h5>
            <hr class="thin">
            <div class="row">
              <div class="col-md-9">
                <p>{{vm.eventData.loyaltyLevelId.name}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Events -->
  <div class="col-md-6" ng-show="vm.chartReady">
    <div class="data-panel">
      <div class="info-overlay" ng-show="showInfoA">
        <p>
          Credits are only counted here if they were earned by users in the intended audience
          (i.e. loyalty level) and were earned during the event's specific date &amp; time
        </p>
      </div>
      <div class="row margin-bottom-15">
        <div class="col-xs-4">
          <a href=""><i class="fa fa-info-circle fa-lg" style="color: #ccc" ng-click="showInfoA = !showInfoA"></i></a>
        </div>
        <div class="col-xs-4">
          <div class="text-center text-uppercase"><strong>Event</strong></div>
        </div>
        <div class="col-xs-4">
          <a href="" class="chart-info-link pull-right" data-toggle="modal" data-target=".bs-modal-sm">Event Info</a>
        </div>
      </div>
      <div>
        <canvas id="bar" class="chart chart-bar"
          chart-data="vm.dataEvent" chart-labels="vm.labelsEvent" chart-colours="vm.coloursEvent"
          chart-legend="false" chart-options="vm.chartOptionsEvent">
        </canvas>
      </div>
      <div class="row text-center">
        <div class="col-xs-6 col-md-6">
          <div class="number-stat" style="color: #0084C1">{{vm.usersSentTo}}</div>
          <div class="number-stat-label">Users Sent To</div>
        </div>
        <div class="col-xs-6 col-md-6">
          <div class="number-stat" style="color: #00A447">{{vm.creditsEarned}}</div>
          <div class="number-stat-label">Credits Earned</div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Selection of event -->
<div ng-show="vm.eventsCreated">
  <span us-spinner spinner-theme="events" ng-hide="dataLoaded"></span>
  <div ng-show="vm.selectEvent">
    <div class="row">
      <div class="col-xs-12 col-sm-12">
        <h4>Select an event</h4>
      </div>
    </div>
    <hr class="thin-top">
    <table class="table pointer table-hover margin-top-20">
      <thead>
        <tr>
          <th>Name</th>
          <th>Start</th>
          <th class="hidden-xs">End</th>
          <th class="hidden-xs">Sent To</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="event in vm.allEvents | orderBy: '-eventEnd'" ng-click="vm.populateEvent(event.objectId)">
          <td>{{event.name | titlecase}}</td>
          <td style="min-width: 97px;">
            <div>{{event.eventStart.iso | date: 'EEE, MMM d'}}</div>
            <div>{{event.eventStart.iso | date: 'hh:mm a'}}</div>
          </td>
          <td class="hidden-xs" style="min-width: 97px;">
            <div>{{event.eventEnd.iso | date: 'EEE, MMM d'}}</div>
            <div>{{event.eventEnd.iso | date: 'hh:mm a'}}</div>
          </td>
          <td class="hidden-xs">{{event.loyaltyLevelId.name}}</td>
        </tr>
      </tbody>
    </table>
    <button type="button" class="btn btn-default" ng-click="vm.previousPage()" ng-show="vm.showPreviousPage()">Previous</button>
    <button type="button" class="btn btn-default pull-right" ng-click="vm.nextPage()" ng-show="vm.showNextPage()">Next</button>
  </div>
</div>

<div ng-show="!eventsCreated">
  <p>You have not created any events yet</p>
</div>
