option_settings:
  - namespace: aws:elasticbeanstalk:container:nodejs
    option_name: NodeVersion
    value: 0.12.6
  - namespace: aws:elasticbeanstalk:container:nodejs
    option_name: ProxyServer
    value: none
  - namespace: aws:elasticbeanstalk:container:nodejs
    option_name: GzipCompression
    value: false