commands:
  get_sudo:
    command: echo Defaults:root \!requiretty >> /etc/sudoers 
  npm_install:
    command: sudo yum -y --enablerepo=epel install nodejs npm
  npm_install_bower:
    command: sudo npm install -g bower
container_commands:
  bower_clean_cache:
    command: sudo bower cache-clean --allow-root
  bower_install:
    command: sudo bower install --allow-root
