commands:
  01get_sudo:
    command: echo Defaults:root \!requiretty >> /etc/sudoers
  02npm_install:
    command: sudo yum -y --enablerepo=epel install nodejs npm
  03npm_install_bower:
    command: sudo npm install -g bower
  04npm_install_gulp:
    command: sudo npm install -g gulp
  05npm_install_local:
    command: sudo npm install gulp
  06npm_install_missing:
    command: sudo npm install -g npm-install-missing
container_commands:
  01install_missing:
    command: sudo npm-install-missing --allow-root
  02bower_install:
    command: sudo bower install --allow-root
