<h3>What would you like to do?</h3>
<hr>
<div class="row text-center">
  <div class="col-xs-6 col-md-3">
    <a ui-sref="analytics-user" class="thumbnail dashboard-box">
      <i class="fa fa-bar-chart fa-5x"></i>
      <p class="h4 text-uppercase margin-top-10">Analytics</p>
    </a>
  </div>
  <div class="col-xs-6 col-md-3">
    <a ui-sref="events" class="thumbnail dashboard-box">
      <i class="fa fa-users fa-5x"></i>
      <p class="h4 text-uppercase margin-top-10">Events</p>
    </a>
  </div>
  <div class="col-xs-6 col-md-3" ng-if="isAuthorized(userRoles.admin)">
    <a ui-sref="rewards" class="thumbnail dashboard-box">
      <i class="fa fa-tag fa-5x"></i>
      <p class="h4 text-uppercase margin-top-10">Rewards</p>
    </a>
  </div>
  <div class="col-xs-6 col-md-3" ng-if="isAuthorized(userRoles.admin)">
    <a ui-sref="users" class="thumbnail dashboard-box">
      <i class="fa fa-user fa-5x"></i>
      <p class="h4 text-uppercase margin-top-10">Users</p>
    </a>
  </div>
  <div class="col-xs-6 col-md-3" ng-if="isAuthorized(userRoles.admin)">
    <a ui-sref="profiles" class="thumbnail dashboard-box">
      <i class="fa fa-glass fa-5x"></i>
      <p class="h4 text-uppercase margin-top-10">Bars</p>
    </a>
  </div>
</div>
