// Charts
//

.data-panel {
  font-size: 16px;
  background-color: #EAEAEA;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  padding: 15px;
}

// Block-style labels
.chart-legend li, .bar-legend li,
.line-legend li, .pie-legend li,
.radar-legend li, .polararea-legend li, .doughnut-legend li {
  margin-top: 15px;
  padding: 2px 20px;

  .chart-value {
    font-size: 32px;
  }

  .chart-label {
    font-size: 14px;
  }
}

// Inline labels
.bar-legend li.chart-label-inline {
  padding: 2px 8px 2px 28px;
}

// Text
.number-stat {
  font-size: 36px;
  font-weight: 600;
}

.number-stat-label {
  font-size: 14px;
  font-weight: 300;
  // color: #cccccc;
}
