// Charts
//

.chart-legend li, .bar-legend li,
.line-legend li, .pie-legend li,
.radar-legend li, .polararea-legend li, .doughnut-legend li {
  padding: 2px 20px;

  .chart-value {
    font-size: 32px;
  }

  .chart-label {
    font-size: 14px;
  }
}
