@import (reference) "../../../bower_components/bootstrap/less/variables.less";

// Typography
//

a.link-alt-underline {
  color: @link-color-alt;
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}
