<h1>Edit Bar Profile</h1>
<hr>
<form name="updateProfileForm" ng-submit="vm.updateProfile(vm.profileData)">
  <div class="form-group">
    <label for="profileName">Bar Name</label>
    <input type="text" class="form-control" placeholder="Bar One" ng-model="vm.profileData.name">
  </div>
  <div class="form-group">
    <label for="profileAddress">Address</label>
    <input type="text" class="form-control" placeholder="1200 Washington Ave" ng-model="vm.profileData.address">
  </div>
  <div class="form-group">
    <label for="profileCity">City</label>
    <input type="text" class="form-control" placeholder="Hoboken" ng-model="vm.profileData.city">
  </div>
  <div class="form-group">
    <label for="profileState">State</label>
    <input type="text" class="form-control" placeholder="NJ" ng-model="vm.profileData.state">
  </div>
  <div class="form-group">
    <label for="profileZip">Zip Code</label>
    <input type="text" class="form-control" placeholder="07040" ng-model="vm.profileData.zip">
  </div>
  <div class="form-group">
    <label for="profilePhone">Phone Number</label>
    <input type="text" class="form-control" placeholder="(201) 555-5555" ng-model="vm.profileData.phone">
  </div>
  <div class="form-group">
    <label for="profileEmail">Email Address</label>
    <input type="text" class="form-control" placeholder="bar@mybar.com" ng-model="vm.profileData.email">
  </div>
  <div class="form-group">
    <label for="profileDescription">Bar Description</label>
        <textarea class="form-control" placeholder="Describe the bar" rows="3" ng-model="vm.profileData.description"></textarea>
  </div>
  <hr>
  <div class="form-group">
    <label for="thumbnailPhoto">Thumbnail Photo</label>
    <div>
      <label>
        <input type="file" name="thumbnail" class="photo" multiple="false" image="vm.thumbnailPhoto" accept="image/*" img-cropper-fileread>
        <div class="btn btn-default">Browse</div>
        <img ng-src="{{vm.profileData.thumbnail.url}}" height="100" width="100">
      </label>
    </div>
  </div>
  <div class="form-group">
    <label for="detailPhoto">Detail Photo</label>
    <div>
      <label>
        <input type="file" name="photo" class="photo" multiple="false" image="vm.detailPhoto" accept="image/*" img-cropper-fileread>
        <div class="btn btn-default">Browse</div>
        <img ng-src="{{vm.profileData.photo.url}}" height="100" width="100">
      </label>
    </div>
  </div>
  <hr>
  <div class="form-group">
    <label for="beaconMajor">Beacon Major</label>
        <input type="text" class="form-control" ng-model="vm.profileData.beaconMajor">
  </div>
  <div class="form-group">
    <label for="beaconMinor">Beacon Minor</label>
        <input type="text" class="form-control" ng-model="vm.profileData.beaconMinor">
  </div>
  <hr>
  <div class="form-group">
    <label for="mapLatitude">Map Latitude</label>
        <input type="text" class="form-control" ng-model="vm.profileData.latitude">
  </div>
  <div class="form-group">
    <label for="mapLongitude">Map Longitude</label>
        <input type="text" class="form-control" ng-model="vm.profileData.longitude">
  </div>
  <hr>
  <div class="form-group">
    <label for="profileMondayPromotion">Monday's Promotion</label>
    <textarea class="form-control" rows="3" ng-model="vm.profileData.mondayPromotion"></textarea>
  </div>
  <div class="form-group">
    <label for="profileTuesdayPromotion">Tuesday's Promotion</label>
    <textarea class="form-control" rows="3" ng-model="vm.profileData.tuesdayPromotion"></textarea>
  </div>
  <div class="form-group">
    <label for="profileWednesdayPromotion">Wednesday's Promotion</label>
    <textarea class="form-control" rows="3" ng-model="vm.profileData.wednesdayPromotion"></textarea>
  </div>
  <div class="form-group">
    <label for="profileThursdayPromotion">Thursday's Promotion</label>
    <textarea class="form-control" rows="3" ng-model="vm.profileData.thursdayPromotion"></textarea>
  </div>
  <div class="form-group">
    <label for="profileFridayPromotion">Friday's Promotion</label>
    <textarea class="form-control" rows="3" ng-model="vm.profileData.fridayPromotion"></textarea>
  </div>
  <div class="form-group">
    <label for="profileSaturdayPromotion">Saturday's Promotion</label>
    <textarea class="form-control" rows="3" ng-model="vm.profileData.saturdayPromotion"></textarea>
  </div>
  <div class="form-group">
    <label for="profileSundayPromotion">Sunday's Promotion</label>
    <textarea class="form-control" rows="3" ng-model="vm.profileData.sundayPromotion"></textarea>
  </div>
  <hr>
  <div class="form-group">
    <label for="isActive">Active?</label>
    <select class="form-control" ng-options="option.value as option.name for option in vm.activeOptions" ng-model="vm.profileData.isActive" ng-selected="option.value === vm.profileData.isActive">
    </select>
  </div>
  <button type="submit" class="btn btn-primary">Update</button>
</form>
