<h1>Create Bar</h1>
<hr>
<form name="createProfileForm" ng-submit="vm.createProfile(vm.profileData)">
  <div class="form-group">
    <label for="profileName">Bar Name</label>
    <input type="text" class="form-control" placeholder="Bar One" ng-model="vm.profileData.name">
  </div>
  <div class="form-group">
    <label for="profileAddress">Address</label>
    <input type="text" class="form-control" placeholder="1200 Washington Ave" ng-model="vm.profileData.address">
  </div>
  <div class="form-group">
    <label for="profileCity">City</label>
    <input type="text" class="form-control" placeholder="Hoboken" ng-model="vm.profileData.city">
  </div>
  <div class="form-group">
    <label for="profileState">State</label>
    <input type="text" class="form-control" placeholder="NJ" ng-model="vm.profileData.state">
  </div>
  <div class="form-group">
    <label for="profileZip">Zip Code</label>
    <input type="text" class="form-control" placeholder="07040" ng-model="vm.profileData.zip">
  </div>
  <div class="form-group">
    <label for="profilePhone">Phone Number</label>
    <input type="text" class="form-control" placeholder="(201) 555-5555" ng-model="vm.profileData.phone">
  </div>
  <div class="form-group">
    <label for="profileEmail">Email Address</label>
    <input type="text" class="form-control" placeholder="bar@mybar.com" ng-model="vm.profileData.email">
  </div>
  <div class="form-group">
    <label for="profileDescription">Bar Description</label>
        <textarea class="form-control" placeholder="Describe the bar" rows="3" ng-model="vm.profileData.description"></textarea>
  </div>
  <hr>
  <div class="form-group">
    <label for="profileMondayPromotion">Monday's Promotion</label>
    <input type="text" class="form-control" ng-model="vm.profileData.mondayPromotion">
  </div>
  <div class="form-group">
    <label for="profileTuesdayPromotion">Tuesday's Promotion</label>
    <input type="text" class="form-control" ng-model="vm.profileData.tuesdayPromotion">
  </div>
  <div class="form-group">
    <label for="profileWednesdayPromotion">Wednesday's Promotion</label>
    <input type="text" class="form-control" ng-model="vm.profileData.wednesdayPromotion">
  </div>
  <div class="form-group">
    <label for="profileThursdayPromotion">Thursday's Promotion</label>
    <input type="text" class="form-control" ng-model="vm.profileData.thursdayPromotion">
  </div>
  <div class="form-group">
    <label for="profileFridayPromotion">Friday's Promotion</label>
    <input type="text" class="form-control" ng-model="vm.profileData.fridayPromotion">
  </div>
  <div class="form-group">
    <label for="profileSaturdayPromotion">Saturday's Promotion</label>
    <input type="text" class="form-control" ng-model="vm.profileData.saturdayPromotion">
  </div>
  <div class="form-group">
    <label for="profileSundayPromotion">Sunday's Promotion</label>
    <input type="text" class="form-control" ng-model="vm.profileData.sundayPromotion">
  </div>
  <button type="submit" class="btn btn-primary">Create</button>
</form>