<h1>Events</h1>
<hr>
<a ui-sref="events-new" class="btn btn-primary">Create Event</a>

<div ng-show="vm.eventsCreated">
  <span us-spinner spinner-theme="table" ng-hide="dataLoaded"></span>
  <div class="table margin-top-20">
    <table class="table pointer table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th>Start</th>
          <th class="hidden-xs">End</th>
          <th class="hidden-xs">Sent To</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="event in vm.allEvents | orderBy: 'eventStart'" ng-click="vm.goToShow(event.objectId)">
          <td>{{event.name | titlecase}}</td>
          <td style="min-width: 97px;">
            <div>{{event.eventStart.iso | date: 'EEE, MMM d'}}</div>
            <div>{{event.eventStart.iso | date: 'hh:mm a'}}</div>
          </td>
          <td class="hidden-xs" style="min-width: 97px;">
            <div>{{event.eventEnd.iso | date: 'EEE, MMM d'}}</div>
            <div>{{event.eventEnd.iso | date: 'hh:mm a'}}</div>
          </td>
          <td class="hidden-xs">{{event.loyaltyLevelId.name}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <button type="button" class="btn btn-default" ng-click="vm.previousPage()" ng-show="vm.showPreviousPage()">Previous</button>
  <button type="button" class="btn btn-default pull-right" ng-click="vm.nextPage()" ng-show="vm.showNextPage()">Next</button>
</div>

<div class="margin-top-40" ng-show="!vm.eventsCreated">
  <p>You currently do not have any events to manage.</p>
</div>
