<a ui-sref="events" class="alt-link"><i class="fa fa-long-arrow-left"></i> Events</a>
<h1>Create Event</h1>
<hr>
<form name="createEventForm" ng-submit="vm.createEvent(vm.eventData)" enctype="multipart/form-data">
  <div class="row">
    <div class="col-sm-8 col-md-6">
      <div class="form-group">
        <label for="eventName">Name</label>
        <input type="text" class="form-control" placeholder="$0.50 Wings Night" ng-model="vm.eventData.name" ng-focus="vm.showHelperName = true" ng-blur="vm.showHelperName = false">
      </div>
    </div>
    <div class="col-sm-8 col-md-6" ng-show="vm.showHelperName">
      <div class="form-group">
        <label class="hidden-xs hidden-sm"></label>
        <div class="helper margin-top-5 fadein fadeout">
          <div class="input-helper"><i class="fa fa-info-circle fa-lg brand-blue margin-right-5"></i> This will be the name of your event on the Drop In app</div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8 col-md-6">
      <div class="form-group">
        <label for="eventDescription">Description</label>
        <textarea class="form-control" placeholder="Tell our users why they should go to your event" rows="3" ng-model="vm.eventData.description"></textarea>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8 col-md-6">
      <div class="form-group">
        <label for="eventPhoto">Event Photo</label>
        <div>
          <label>
            <input type="file" name="photo" class="photo" multiple="false" change-input-file="uploadFile" accept="image/*">
            <div class="btn btn-default">Browse</div>
          </label>
          <div class="text-legal"><small>You must own the rights to the uploaded image</small></div>
        </div>
        <div ng-show="showImage">
          <div class="margin-top-10">
            <!-- Image -->
            <img class="cropper-image" data-ng-src="{{dataUrl}}"
                 ng-cropper
                 ng-cropper-show="showEvent"
                 ng-cropper-hide="hideEvent"
                 ng-cropper-options="options">
          </div>
          <button class="btn btn-success btn-square btn-block" type="button" ng-click="preview()">Done</button>
        </div>
        <div class="margin-top-10" ng-show="showCropped">
          <img ng-src="{{preview.dataUrl}}" class="preview-image">
        </div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="eventDate">Start of Event</label>
    <div>
      <datetimepicker ng-model="vm.eventData.eventStart"
        min-date="vm.minDate" hour-step="vm.hourStep"
        minute-step="vm.minuteStep" show-meridian="vm.showMeridian"
        date-format="MM-dd-yyyy" date-options="vm.dateOptions"
        mousewheel="false"
        name="datetimepicker"
        show-spinners="true">
      </datetimepicker>
    </div>
  </div>
  <div class="form-group">
    <label for="eventDate">End of Event</label>
    <div>
      <datetimepicker ng-model="vm.eventData.eventEnd"
        min-date="vm.minDate" hour-step="vm.hourStep"
        minute-step="vm.minuteStep" show-meridian="vm.showMeridian"
        date-format="MM-dd-yyyy" date-options="vm.dateOptions"
        mousewheel="false"
        name="datetimepicker"
        show-spinners="true">
      </datetimepicker>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8 col-md-6">
      <div class="form-group">
        <label for="eventSendTo">Send To</label>
        <select class="form-control" ng-options="loyaltyLevel.objectId as loyaltyLevel.name for loyaltyLevel in vm.loyaltyLevels" ng-model="vm.eventData.loyaltyLevelId" ng-focus="vm.showHelperSendTo = true" ng-blur="vm.showHelperSendTo = false">
          <option value="">-- Select Loyalty Level --</option>
        </select>
      </div>
    </div>
    <div class="col-sm-8 col-md-6" ng-show="vm.showHelperSendTo">
      <div class="form-group">
        <label class="hidden-xs hidden-sm"></label>
        <div class="helper margin-top-5 fadein fadeout">
          <div class="input-helper"><i class="fa fa-info-circle fa-lg brand-blue margin-right-5"></i> These will be the users that receive the event on the mobile app</div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8 col-md-6">
      <div class="alert alert-danger" role="alert" ng-show="vm.errorMessage"><i class="fa fa-exclamation-triangle margin-right-10"></i> {{vm.errorMessage}}</div>
      <button type="submit" class="btn btn-primary btn-block margin-top-20">Create</button>
    </div>
  </div>
</form>
