<h1>Create Event</h1>
<hr>
<form name="createEventForm" ng-submit="vm.createEvent(vm.eventData)" enctype="multipart/form-data">
  <div class="form-group">
    <label for="eventName">Name</label>
    <input type="text" class="form-control" placeholder="$0.25 wings this Thurdays night" ng-model="vm.eventData.name">
  </div>
  <div class="form-group">
    <label for="eventDescription">Description</label>
    <textarea class="form-control" placeholder="Tell our users why they should attend" rows="3" ng-model="vm.eventData.description"></textarea>
  </div>
  <div class="form-group">
    <label for="eventPhoto">Event Photo</label>
    <div>
      <label>
        <input type="file" name="photo" class="event-photo" multiple="false" image="vm.cropper.sourceImage" accept="image/*" img-cropper-fileread>
        <div class="btn btn-default">Browse</div>
      </label>
      <div>
        <canvas width="500" height="300" id="canvas" image-cropper image="vm.cropper.sourceImage" cropped-image="vm.cropper.croppedImage" crop-width="400" crop-height="200" min-width="100" min-height="50" keep-aspect="true" crop-area-bounds="vm.bounds"></canvas>
      </div>
      <div ng-show="vm.cropper.croppedImage!=null"><img ng-src="{{vm.cropper.croppedImage}}" /></div>
    </div>
  </div>
  {{vm.bounds}}
  {{vm.cropper}}
  <div class="form-group">
    <label for="eventDate">Start of Event</label>
    <div>
      <datetimepicker ng-model="vm.eventData.eventStart"
                                date-format="MM-dd-yyyy"
                                min-date="vm.minDate">
      </datetimepicker>
    </div>
  </div>
  <div class="form-group">
    <label for="eventDate">End of Event</label>
    <div>
      <datetimepicker ng-model="vm.eventData.eventEnd"
                                date-format="MM-dd-yyyy"
                                min-date="vm.minDate">
      </datetimepicker>
    </div>
  </div>
  <div class="form-group">
    <label for="eventSendTo">Send To</label>
    <select class="form-control" ng-options="loyaltyLevel.objectId as loyaltyLevel.name for loyaltyLevel in vm.loyaltyLevels" ng-model="vm.eventData.loyaltyLevelId">
      <option value="">-- Select Loyalty Level --</option>
    </select>
  </div>
  <button type="submit" class="btn btn-primary">Create</button>
</form>
