<h1>Bar Rewards</h1>
<hr>
<span us-spinner spinner-theme="table" ng-hide="dataLoaded"></span>
<div class="table-responsive margin-top-20">
  <table class="table pointer table-hover">
    <thead>
      <tr>
        <th>Reward</th>
        <th>Bar</th>
      </tr>
    </thead>
    <tbody>
    <p><span us-spinner ng-hide="dataLoaded"></span></p>
    <tr ng-repeat="reward in vm.allRewards | orderBy: 'name'" ng-click="vm.goToShow(reward.objectId)">
        <td>{{reward.reward | titlecase}}</td>
        <td>{{reward.name}}</td>
      </tr>
    </tbody>
  </table>
</div>