<a ui-sref="users" class="alt-link"><i class="fa fa-long-arrow-left"></i> Users</a>
<h1>Create Bar User</h1>
<hr>
<form name="createUserForm" ng-submit="vm.createUser(vm.userData)">
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label for="username">Username (Email)</label>
        <input type="text" class="form-control" placeholder="john@bar.com" ng-model="vm.userData.username" ng-focus="vm.showHelperUsername = true" ng-blur="vm.showHelperUsername = false">
      </div>
    </div>
    <div class="col-md-6" ng-show="vm.showHelperUsername">
      <div class="form-group">
        <label class="hidden-xs hidden-sm"></label>
        <div class="helper margin-top-5 fadein fadeout">
          <div class="input-helper"><i class="fa fa-info-circle fa-lg brand-blue margin-right-5"></i> This should be the <strong>email</strong> of the user</div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label for="email">Email Address</label>
        <input type="text" class="form-control" placeholder="john@bar.com" ng-model="vm.userData.email">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label for="associatedBar">Associated Bar</label>
        <select class="form-control" ng-options="bar.objectId as bar.name for bar in vm.bars" ng-model="vm.userData.barId" ng-focus="vm.showHelperBar = true" ng-blur="vm.showHelperBar = false">
          <option value="">-- Select Associated Bar --</option>
        </select>
      </div>
    </div>
    <div class="col-md-6" ng-show="vm.showHelperBar">
      <div class="form-group">
        <label class="hidden-xs hidden-sm"></label>
        <div class="helper margin-top-5 fadein fadeout">
          <div class="input-helper"><i class="fa fa-info-circle fa-lg brand-blue margin-right-5"></i> Select the bar where the user works</div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="alert alert-danger" role="alert" ng-show="vm.errorMessage"><i class="fa fa-exclamation-triangle margin-right-10"></i> {{vm.errorMessage}}</div>
      <button type="submit" class="btn btn-primary btn-block margin-top-20">Create</button>
    </div>
  </div>
</form>